<div ng-controller="UserLoginCtrl" layout="column" layout-sm="column">
  <md-content>
    <md-card>
      <md-card-content>
        <h2>Login</h2>
        <form>
            <md-input-container>
              <label>Username</label>
              <input ng-model="user.email" type="email">
            </md-input-container>
            <md-input-container>
              <label>Password</label>
              <input ng-model="user.password" type="password">
            </md-input-container>
             <md-button class="md-raised md-primary">Login</md-button>
        </form>
      </md-card-content>
    </md-card>
    </md-content>
  </div>
