<div class="content">
<md-content  layout="row" layout-align="center center">
<md-card flex="66">
  <md-card-content>
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <span class="md-flex">Update your application</span>
    </div>
  </md-toolbar>
  <md-subheader class="md-primary">We need more information about you organization.</md-subheader>
     <form  name="applicationForm" ng-submit="submitApplication()">
     	<md-input-container>
	      <label>Organization Name</label>
	      <input ng-model="application.company" required type="text">
	    </md-input-container>
	    <md-input-container>
	      <label>Domain Name</label>
	      <input ng-model="application.domain" required type="text">
	    </md-input-container>
	    <fieldset layout="row">
		   <md-subheader class="md-primary">Appointment</md-subheader>
		    <md-radio-group require ng-model="application.appointment.type">
		      <md-radio-button value="keybase" disabled>Keybase</md-radio-button>
		      <md-radio-button value="inperson"> In-Person </md-radio-button>
		    </md-radio-group>
		    <div class="animate-switch-container indent-form" ng-switch on="application.appointment.type" flex="66">
			      <div class="animate-switch" ng-switch-when="keybase">Under Development</div>
		      <div class="animate-switch" ng-switch-when="inperson">
		      		<md-input-container>
				      <label>First Name</label>
				      <input ng-model="application.appointment.firstName" required type="text">
				    </md-input-container>
				    <md-input-container>
				      <label>Last Name</label>
				      <input ng-model="application.appointment.lastName"  required type="text">
				    </md-input-container>
				    <md-input-container>
				      <label>Email</label>
				      <input ng-model="application.appointment.email"  required type="email">
				    </md-input-container>
				    <md-input-container>
				      <label>Phone</label>
				      <input ng-model="application.appointment.phone"  required type="phone">
				    </md-input-container>
				    <div layout="row">
					    <md-input-container flex="33">
					    	<div >
						      <label>Date</label>
						      <input  ng-model="application.appointment.date"  required type="date">
					  		</div>
					  	</md-input-container>
					  	<div flex="33">&nbsp;</div>
					  	<md-input-container flex="33">
					  		<div>
						      <label>Time</label>
						      <input ng-model="application.appointment.time" required type="time">
					  		</div>
					    </md-input-container>
					 <div>
		      </div>
		  </div>
		 </fieldset> 
		  <div layout="row" layout-align="center center"><md-button type='submit' class="md-raised md-primary">Submit</md-button></div>
     </form>
  </md-card-content>
</md-card>
</md-content>
</div>